.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: black;

  .page {
    background-image: url("../images/purple.gif");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    gap: 120px;

    h1 {
      padding: 18px 34px;
      background-color: rgba(0, 0, 0, 0.1);
      height: 162px;
      backdrop-filter: blur(4px);
      border-radius: 24px;
      font-family: "Omori";
      font-size: 128px;
      color: white;
      letter-spacing: 0.04em;
    }

    .navigation {
      display: flex;
      flex-direction: column;
      gap: 28px;

      section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 26px;
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        border-radius: 16px;
        font-family: "Omori";
        font-size: 72px;
        cursor: pointer;
        transition: 0.35s all;

        &:hover {
          box-shadow: 0px 0px 0px 6px rgb(154, 45, 255);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}